img {
border-radius: 75px;
}
h2 {
    font-size: 24px;
}
body {
    background-color: slateblue;
    font-family: "Trebuchet MS";
    color: rgb(243, 27, 221);
    text-align: center;
}

p {
color: aqua;
}